h1 {
    text-decoration: underline;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}
#main {
    position: fixed;
    left: 350px;
}
#box1 {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    background-image: url("/Laptop.jpg");
    background-size: cover;
}
#box2 {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    background-image: url("/Pc.jpg");
    background-size: cover;
}
#box3 {
    height: 200px;
    width: 200px;
    background-color: azure;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    background-image: url("/Tablet.jpg");
    background-size: cover;
}
#box4 {
    height: 200px;
    width: 200px;
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    background-image: url("/Phone.jpg");
    background-size: cover;
}