body {
    text-align: center;
}
#main {
    height: 400px;
    width: 800px;
    border: 2px solid black;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
}
div {
    height: 50px;
    width: 200px;
    display: inline-block;
    text-align: center;
    /* padding-top: 40px; */
    border: 2px solid black;
}
#box1 {
    background-color: rgb(255, 36, 36);
}
#box2 {
    background-color: rgb(255, 255, 36);
    height: 100px;
}
#box3 {
    background-color: rgb(94, 255, 36);
    height: 25px;
    align-self: flex-end;
}
#box4 {
    background-color: rgb(36, 255, 240);
}
#box5 {
    background-color: rgb(255, 36, 248);
}
@media(min-width: 1200px) and (max-width: 1300px) {
    div {
        background-color: red;
    }
}